{{#> html title="Ticket created"}}
    <h1>Ticket created</h1>

    <table>
        <tbody>
            <tr>
              <td class="label">Short Description: </td>
              <td class="label">{{ticket.shortDescription}}</td>
            </tr>
            <tr>
                <td class="label">Description: </td>
                <td class="label">{{ticket.description}}</td>
            </tr>
        </tbody>
    </table>
{{/html}}