{{#> html title="Create Ticket"}}
    <h1>Create new Ticket</h1>

    <form action="/ticket" method="post">
        <p>
            <label for="shortDescription">Short Description</label> <input id="shortDescription" type="text" name="shortDescription">
        </p>
        <p>
            <label for="description">Description</label> <input id="description" type="text" name="description">
        </p>
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{{/html}}