{{#> html title="Tickets"}}
    <h1>Tickets</h1>

    <form action='/ticket' method='GET'>
      <h2>Search</h2>
      <label for='number-filter'>Incident No.</label>
      <input type='text' name='number' id='number-filter'><br>
      <label for='date-filter-start'>Date (earliest)</label>
      <input type='date' name='start-date' id='date-filter-start'><br>
      <label for='date-filter-start'>Date (latest)</label>
      <input type='date' name='end-date' id='date-filter-end'><br>
      <label for='state-filter'>State</label>
      <select name='state' id='state-filter'>
        <option value=''>-</option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
      </select><br>
      <button type='submit'>Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <td>Incident No.</td>
                <td>Short Description</td>
                <td>Description</td>
                <td>State</td>
                <td>Creation Date</td>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
                <tr>
                    <td>{{this.number}}</td>
                    <td>{{this.shortDescription}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.state}}</td>
                    <td>{{moment this.openedAt "LLLL"}}</td>
                    <td>
                      <form action='/ticket/{{this.id}}/delete' method='POST'>
                        <button type='submit'>Delete</button>
                      </form>
                      <form action='/ticket/{{this.id}}/update' method='GET'>
                        <button type='submit'>Update</button>
                      </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/html}}