{{#> html title="Update Ticket"}}
    <h1>Update Ticket</h1>
    <form action="/ticket/{{ticket.id}}/update" method='POST'>
      <label for="short-description">ShortDescription</label>
      <input type="text" name="shortDescription" id="short-description" placeholder="{{ticket.shortDescription}}"><br>
      <label for="description">Description</label>
      <input type="text" name="description" id="description" placeholder="{{ticket.description}}"><br>
      <button type='submit'>Update</button>
    </form>
{{/html}}