{{#> html title="Ticket Manager"}}
    <h1>Ticket Manager</h1>

    <form action="/ticket/new">
        <h2>Create new Ticket</h2>
        <button type="submit">Create</button>
    </form>

    <form action="/ticket">
        <h2>Get Tickets</h2>
        <button type="submit">Get</button>
    </form>
{{/html}}